<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ resourceHints }}}
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}

        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script>
            {{!-- Change document class from no-js to js so we can detect this in css --}}
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        </script>

        {{> components/common/polyfill-script }}

        {{!-- Load Lazysizes script ASAP so images will appear --}}
        <script>
            {{!-- Only load visible elements until the onload event fires, after which preload nearby elements. --}}
            window.lazySizesConfig = window.lazySizesConfig || {};
            window.lazySizesConfig.loadMode = 1;
        </script>
        <script async src="{{cdn 'assets/dist/theme-bundle.head_async.js'}}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        {{{stylesheet '/assets/css/theme.css'}}}
        
        <!--Christmas style-->
                <style>
            #reamaze-widget::before {
                content: "";     
                width: 55px;
                height: 45px;           
                background: url("//www.superhairpieces.fr/content/images/common/reamaze-hat.png");
                background-size: contain;
                display: block;
                position: absolute;
                right: 10px;
                bottom: 35px;
                z-index: -1;                
            }
        </style>
        <!--End style-->
        
        {{{head.scripts}}}
        

        {{~inject 'themeSettings' theme_settings}}
        {{~inject 'showAdminBar' theme_settings.show-admin-bar}}
        {{~inject 'genericError' (lang 'common.generic_error')}}
        {{~inject 'maintenanceModeSettings' settings.maintenance}}
        {{~inject 'adminBarLanguage' (langJson 'admin')}}
        {{~inject 'urls' urls}}
        {{~inject 'secureBaseUrl' settings.secure_base_url}}
        {{~inject 'cartId' cart_id}}
        {{~inject 'channelId' settings.channel_id}}
        {{~inject 'template' template}}
        {{~inject "zoomSize" theme_settings.zoom_size}}
        {{~inject "productSize" theme_settings.product_size}}
        {{~inject 'token' settings.storefront_api.token}}
        {{~inject 'money' settings.money}}  
    </head>
    <body class="page-type-{{page_type}} page-full-width{{#if theme_settings.halo_add_to_cart_popup '==' 'normal'}} popup-normal{{/if}}{{#unless theme_settings.halo_homepage_layout_1}} home-layout-2{{/unless}}">
        <svg data-src="{{cdn 'img/icon-sprite.svg'}}" class="icons-svg-sprite"></svg>

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <div class="popup-country">
            <div class="popup-country-overlay"></div>
            <div class="popup-country-content">
                <div class="popup-country-title"></div>
                <div class="popup-country-main"></div> 
                <div class="popup-country-main2">
                    <div class="popup-country1">
                        <div class="popup-country-flag"></div>
                        <div class="popup-country-sec">
                            <a class="popup-country-lang"></a>
                            <a class="popup-country-lang1"></a>
                        </div>
                    </div>
                    <div class="popup-country2">
                        <div class="popup-country-flag1"></div>
                        <div class="popup-country-sec">
                            <a class="popup-country-lang2"></a>
                            <a class="popup-country-lang3"></a>
                        </div>
                        
                    </div>
                </div>
                <svg><use xlink:href="#icon-close"></use></svg>
            </div>

        </div>

        <div class="halo-background"></div>

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script>window.consentManagerTranslations = `{{{langJson 'consent_manager'}}}`;</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>
        <script>
            {{!-- Exported in app.js --}}
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
        <script type="text/javascript" src="https://kenwheeler.github.io/slick/slick/slick.js" defer></script>
        {{{footer.scripts}}}

        {{> components/halothemes/halo-newsletter-popup}}
        {{> components/halothemes/halo-recently-bought-product}}
        {{> components/halothemes/halo-recently-viewed-products}}
        {{> components/halothemes/sidebar/halo-sidebar}}
        {{> components/halothemes/halo-ask-an-expert}}
        {{> components/halothemes/halo-megamenu}}
        
        <link rel="alternate" hreflang="fr" href="https://superhairpieces.fr">
        <link rel="alternate" hreflang="en" href="https://en.superhairpieces.fr">
        
        <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
        <script>
            Weglot.initialize({
                api_key: 'wg_472447c0bb380762501782f7c46361055'
            });            
            window.addEventListener("DOMContentLoaded", function(){
                function a(){
                    if ($(window).width()>=1025) {
                        if ($(".nav-language-wrap .wg-default").length==0) {
                            $(".nav-language-wrap").append($(".wg-default"));
                        }    
                        $(".navPages-language").remove($(".wg-default")) ;
                    } else {                        
                        if ($(".navPages-language .wg-default").length==0) {
                            $(".navPages-language").append($(".wg-default"));
                        }   
                        $(".nav-language-wrap").remove($(".wg-default")) ;
                    }                    
                    // $(window).width()>1149?
                    // ($(".header-logo").append($(".wg-default")),$(".navPages-list--user").remove($(".wg-default"))):
                    // ($(".navPages-list--user").append($(".wg-default")),$(".header-logo").remove($(".wg-default"))),$(".wg-default").hide(),$(".wg-default").eq(0).show()
                }
                Weglot.on("switchersReady",()=>{
                    a()
                }),window.onresize=a})
        </script>
    </body>
</html>
